<link href="css/table.css" rel="stylesheet" type="text/css">

<h2>Today's lotto numbers are...</h2>
<%
 var jsonData = JSON.parse(numbers);
 console.info(jsonData);
 %>

<div id="content">
    <table id="json_data" class="root_table">
        <tr>
        <%
        var labels = Object.keys(jsonData);
        var range = labels.length;
        if(range === 3){
            %>
            <p>Hits are marked in green</p>
            <%
            range = 2;
        }

        for (var i = 0;i < range;i++)
        {
            var label;
            var cellClass = "label_row";
            if(i === 0 && range === 2){
                cellClass += " left_column";
                label = "Submitted numbers"
            } else if(i === 0 && range === 1){
                cellClass += " left_column";
                label = "Lotto numbers";
            } else {
                cellClass += " right_column";
                label = "Lotto numbers";
            }
            %>
            <td class="<%=cellClass%>"><%= label %></td>
            <%
        }
        %>
        </tr>

        <%

            for(var ii = 0;ii < 7;ii++){
        %>
        <tr>
            <%
                cellClass = "left_column"
                if(range > 1) {
                    if (jsonData["correctIndexes"].includes(ii)) {
                        cellClass += " cell_hit";
                    }

            %>
            <td class="<%= cellClass %>"><%= (JSON.parse(jsonData["submitted"])[ii]) %></td>
            <%
                }
            %>
            <td class="right_column"><%= (JSON.parse(jsonData["drawn"])[ii]) %></td>
        </tr>
            <%
            }

            %>
    </table>
</div>
